.container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    border: 1px solid greenyellow;
    border-radius: 10px;
    align-items: center;
}
.container p {
    font-size: 60px;
    font-weight: bold;
}
.mas{
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin: 15px;
}