.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    padding: 2.5rem;
    border: 0.2rem solid greenyellow;
    border-radius: 1rem;
    width: 65%;
}
.containerTiempo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1.8rem;
}
.divBorrar{
    position: absolute;
    height: auto;
    right: 65rem;
}
.buttonEliminar {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
.container h1{
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}
.image {
    max-width: 25%;
    height: auto;
}
.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.imgFlecha {
    max-width: 5%;
    height: auto;
}
.tiempo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 4rem;
    gap: 1rem;
    font-size: 8rem;
}
.datos {
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
}
.datos button {
    margin-right: 4rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    width: 12rem;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 6rem;
    margin-left: 3rem;
}
.total p{
    margin-top: 1rem;
}
.individual {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4rem;
}
.individual input {
    max-width: 7%;
    margin: 0 1rem;
    background-color: rgba(249, 248, 248, 0.104);
    color: white;
}
@media (max-width: 1940px) {
    .divBorrar{
        right: 40rem;
    }
}
@media (max-width: 1280px) {
    .divBorrar{
        right: 26rem;
    }
}
