.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.729);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
}
.productoAndNombre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    font-size: 1.6rem;
    padding: 1rem;
    margin-top: 1rem;
}
.pAndButton {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}
.pAndButton button {
    color: white;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}
.p {
    border: solid 0.1rem rgba(0, 0, 0, 0.711);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    animation: colorChange 1s;
    margin: 0.2rem;
}
.total{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.2rem 1rem;
    color: rgb(255, 0, 0);
    background-color: white;
    border-radius: 1rem;
    max-width: 85%;
    text-align: center;
}
.input {
    max-width: 35%;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.3rem 0;
}
.containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.button {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 0.5rem;
}
.image {
    max-width: 2rem;
    height: auto;
}
.buttonEliminar {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 0.5rem;
}
@keyframes colorChange {
    0% {
            background-color: white;
            color: black;
        }
}

/* media queries */

@media (min-width: 1280px) {
    .pAndButton button {
        color: white;
        background: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .p {
        border: solid 0.1rem rgba(0, 0, 0, 0.711);
        padding: 0.5rem 1rem;
        font-size: 2rem;
        animation: colorChange 1s;
        margin: 0.2rem;
    }
    .total{
        font-size: 2.5rem;
        font-weight: bold;
        padding: 0.2rem 1rem;
        color: rgb(255, 0, 0);
        background-color: white;
        border-radius: 1rem;
        margin-right: 1rem;
        max-width: 50%;
        text-align: center;
    }
    .input {
        max-width: 12%;
        color: white;
        background-color: transparent;
        font-size: 2rem;
        border-radius: 0.5rem;
        text-align: center;
        padding: 0.3rem 0;
    }
    .containerButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 30%;
    }
    .button {
        background: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        margin-left: 1rem;
        margin-top: 0rem;
    }
    .image {
        max-width: none;
        height: auto;
    }
    .buttonEliminar {
        background: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        margin-left: 2rem;
        margin-top: 0rem;
    }
    @keyframes colorChange {
        0% {
                background-color: white;
                color: black;
            }
    }
}