.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36rem;
    height: 25rem;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    right: 0rem;
    top: 8rem;
    gap: 5rem;
    border-radius: 1.5rem;
    border: 0.1rem solid  greenyellow;
}

.container button {
    position: relative;
    width: 13rem;
    height: 13rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}