.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 0.5rem solid rgb(20, 20, 222);
    border-radius: 1rem;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.719);
}
.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: solid 0.05rem rgba(255, 255, 255, 0.063);
}